<h1>Create a New Portfolio Item</h1>

<%= form_for(@portfolio_item) do |port_item| %>


  <div class="field">
    <%= port_item.label :title %>
    <%= port_item.text_field :title %>
  </div>

  <div class="field">
    <%= port_item.label :subtitle %>
    <%= port_item.text_field :subtitle %>
  </div>

  <div class="field">
    <%= port_item.label :body %>
    <%= port_item.text_area :body %>
  </div>

  <ul>
    <%= port_item.fields_for :technologies do |technology_form| %>
    <li>
      <%= technology_form.label :name %>
      <%= technology_form.text_field :name %>
    </li>
    <% end %>
  </ul>


  <div class="actions">
    <%= port_item.submit %>
  </div>
<% end %>
